:root {
  --branding-color: #6c63ff;
  --secondary-color: #faf9fd;
  --basic-color: #f5e6f9;
  --default-font-family: 'Poppins', sans-serif;
  --heading-font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: bold;
  font-family: var(--heading-font-family);
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  text-align: center;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  text-align: left;
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.my-pic {
  display: block;
  max-width: 70%;
  margin: 50px auto;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.second-link {
  border-radius: 4px;
  padding: 19px 21px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.dictionary-img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.dictionary-app,
.weather-app {
  text-decoration: none;
  color: black;
}

.hero {
  background: var(--basic-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
  color: #272142;
}

.hero h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  font-family: var(--heading-font-family);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 60px;
}

.about-page {
  margin-top: 100px;
  margin-bottom: 50px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.logo {
  max-height: 40px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--basic-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px !important;
    line-height: 56px !important;
  }
  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .project-description,
  .content {
    padding: 0;
    text-align: center;
  }

  .content h1 {
    text-align: center;
  }

  .content-container {
    padding: 30px 20px;
  }
}
